<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Data.Title}}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="font-family: Arial">
     <!--Navbar Start-->
    <nav class="fixed-top shadow navbar navbar-expand-lg bg-body-tertiary text-black fw-bold">
        <div class="container-fluid container">
          <a class="navbar-brand" href="/home">
            <img src="/public/assets/images/brandred.png" width="64" alt="Dumbways Logo" loading="lazy">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/project">Add Project</a>
              </li>
            </ul>
            <div class="d-flex">
              <a class="btn bg-dark text-white text-decoration-none rounded-2" href="/contact">Contact Me</a>
            </div>
          </div>
        </div>
      </nav>
       <!--Navbar End-->


       <!--Isi Start-->
       <!--Kiri-->
<section class="my-bg-gradient py-5">
        <div class="mx-auto container px-3" style="padding-top: 5rem;min-height: 40vh; justify-content:center;">
          <div class="card rounded-4 shadow p-4">
            <div class="row gap">
              <div class="col-md-8 p-4">
                <h1 class="card-title fw-bold mb-3">Hi Welcome to my hut</h1>
                <p class="card-text" style="text-align: justify;">
    
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed risus pretium quam
                  vulputate. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Mi sit amet mauris commodo
                  quis
                  imperdiet massa tincidunt. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla. Neque
                  vitae
                  tempus quam pellentesque. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Quam nulla porttitor
                  massa
                  id
                  neque aliquam. Est ullamcorper eget nulla facilisi etiam dignissim. Nulla posuere sollicitudin aliquam
                  ultrices sagittis orci
                  a. Feugiat nisl pretium fusce id velit ut tortor. Nec feugiat in fermentum posuere urna nec tincidunt
                  praesent. Amet mauris commodo quis imperdiet massa tincidunt. Amet porttitor eget dolor morbi non arcu
                  risus
                  quis. Porttitor leo a diam sollicitudin tempor id eu. A diam maecenas sed enim ut sem viverra aliquet
                  eget.
                </p>
    
                <div style="margin: 24px 0;">
                  <a href="mailto:septianadi8892@gmail.com" class="bg-dark text-white text-decoration-none rounded-4 px-3 py-1">Contact</a>
                  <a href="https://www.google.com"class="text-decoration-none px-3 fw-semibold text-black">
                    Download CV
                    <img class="px-1" src="/public/assets/images/dwn.png" alt="download"; style="width: 4%">
                    </a>
                </div>
    
                <div class="sosial-media">
                    <a id="instagram" href="https://www.instagram.com/?hl=id" class="ig">
                        <img src="/public/assets/images/ig.png" alt="instagram"; style="width: 10%">
                    </a>
                    <a id="linkedin" class="social-icon" href="https://linkedin.com">
                        <img src="/public/assets/images/in.png" alt="linkedin"; style="width:7%">
                    </a>

                </div>
              </div>
              <!--Kanan-->
              <div class="col-md-4 p-4">
                <div class="text-center">
                  <div class="w-100 rounded-4" style="height: 550px;">
                    <img class=" h-100 w-100" src="/public/assets/images/1.jpg">
                  </div>
                  <div class="p-3">
                    <b class="fs-5">Septian Adi Nugroho</b>
                    <p>Fullstack Developer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--ISI KONTAINER BAWAH-->
        <div class="container py-5">
            <h1 class="text-center text-black fw-bold mb-5">MY PROJECT</h1>
            <div class="row row-cols-1 row-cols-md-3 pt-5 row-gap-4">
              {{range $index, $data := .Projects}}
              <div class="col">
                <div class="card rounded-4">
                  <div class="overflow-hidden mx-3 mt-3 rounded-3">
                    <img class="card-img-top object-fit-cover w-100" alt="img-post"
                      src="/public/assets/images/1088243.jpg">
                  </div>
                  <div class="card-body">
                    <a href="/project/{{$data.Id}}" class="text-decoration-none">
                      <h5 class="card-title fw-semibold text-black text-center">{{$data.ProjectName}}</h5>
                    </a>
                    <p class="duration" style="color: #000000;">Durasi: {{$data.Duration}}</p>
                    <p class="card-text" style="text-align: justify; text-align: center">
                      {{$data.Description}}
                    </p>
                    <ul class="list-items-sm justify-content-center text-d d-flex flex-wrap gap-3" style="list-style: none;">
                      {{range $index, $data := $data.Technologies}}
                      <li>
                        <img src="/public/assets/images/{{$data}}.png" style="width: 40px" alt="Item Icon">
                      </li>
                      {{end}}
                      <!-- <li>
                        <img src="/public/assets/images/reactJs.png" alt="Item Icon">
                      </li>
                      <li>
                        <img style="width: 50%;" src="/public/assets/images/javaScript.png" alt="Item Icon">
                      </li>
                      <li>
                        <img src="/public/assets/images/typeScript.png" alt="Item Icon">
                      </li> -->
                    </ul>
      
                    <div class="d-flex w-100 gap-2 bg" style="margin-top:24px;">
                      <a class="btn btn-sm w-100 bg-dark text-white" href="/edit/{{$data.Id}}">Edit</a>
                      <a href="/delete/{{$data.Id}}" class="btn btn-sm w-100 bg-dark text-white">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              {{end}}

              <!-- <div class="col">
                <div class="card rounded-4">
                  <div class="overflow-hidden mx-3 mt-3 rounded-3">
                    <img class="card-img-top object-fit-cover w-100" alt="img-post"
                      src="/public/assets/images/1088243.jpg">
                  </div>
                  <div class="card-body">
                    <a href="project-detail.html" class="text-decoration-none">
                      <h5 class="card-title fw-semibold text-black text-center">Dumbways Web App</h5>
                    </a>
                    <p class="card-text" style="text-align: justify; text-align: center">
                        Shoutout To Rusman
                    </p>
                    <ul class="list-items-sm justify-content-center text-d d-flex flex-wrap gap-3" style="list-style: none;">
                      <li>
                        <img src="/public/assets/images/nodejs.png" alt="Item Icon">
                      </li>
                      <li>
                        <img src="/public/assets/images/reactJs.png" alt="Item Icon">
                      </li>
                      <li>
                        <img style="width: 50%;" src="/public/assets/images/javaScript.png" alt="Item Icon">
                      </li>
                      <li>
                        <img src="/public/assets/images/typeScript.png" alt="Item Icon">
                      </li>
                    </ul>
      
                    <div class="d-flex w-100 gap-2" style="margin-top:24px;">
                        <a class="btn btn-sm w-100 bg-dark text-white" href="project-detail.html">Edit</a>
                        <button class="btn btn-sm w-100 bg-dark text-white">Delete</button>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card rounded-4">
                  <div class="overflow-hidden mx-3 mt-3 rounded-3">
                    <img class="card-img-top object-fit-cover w-100" alt="img-post"
                      src="/public/assets/images/1088243.jpg">
                  </div>
                  <div class="card-body">
                    <a href="project-detail.html" class="text-decoration-none">
                      <h5 class="card-title fw-semibold text-black text-center">Dumbways Web App</h5>
                    </a>
                    <p class="card-text" style="text-align: justify; text-align: center">
                      Shoutout To Babang Iyede
                    </p>
                    <ul class="list-items-sm justify-content-center text-d d-flex flex-wrap gap-3" style="list-style: none;">
                      <li>
                        <img src="/public/assets/images/nodejs.png" alt="Item Icon">
                      </li>
                      <li>
                        <img src="/public/assets/images/reactJs.png" alt="Item Icon">
                      </li>
                      <li>
                        <img style="width: 50%;" src="/public/assets/images/javaScript.png" alt="Item Icon">
                      </li>
                      <li>
                        <img class="mr-3" src="/public/assets/images/typeScript.png" alt="Item Icon">
                      </li>
                    </ul>
      
                    <div class="d-flex w-100 gap-2" style="margin-top:24px;">
                        <a class="btn btn-sm w-100 bg-dark text-white" href="project-detail.html">Edit</a>
                        <button class="btn btn-sm w-100 bg-dark text-white">Delete</button>
                      </div>
                  </div>
                </div>
              </div> -->
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>